@charset "utf-8";
/* CSS Document */

body{
    background-image:url(image/Ayako-David-Kawauchi-16.jpg);
    background-size:cover;   
}

h1{ 
    border-radius:40px;
    margin-left: 40px;
    margin-right:40px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 50px;
    font-family: "Champagne & Limousines";
    
    
}

h3 {border-radius:40px;
    margin-left: 40px;
    margin-right:40px;
    text-align: center;
    font-family: "Champagne & Limousines", bold italic;
    font-size: 24px;
    color: grey;
    background-color: white;

}

h4 {
    color: black; 
    text-align: center;
    font-family: "caviar dreams";
    font-size: 60px;
    margin-left: 60px;
    background-color:inherit;
    margin-bottom: 60px;
    
    
}

h5{ 
    color: white;
    background-color: grey;
    border-radius: 50px;
    text-align: center;
    font-size: 24px;
    font-family: "Champagne & Limousines";
    margin-left: 260px;
    margin-right: 260px;
    padding-top: 5px;
    padding-bottom: 5px;
}


header{
    background-color:white;
    border-radius:40px;
    margin-left: 40px;
    margin-right:40px;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    
}

main{
     margin-left: 300px;
    margin-right: 300px;
}

main h1 {
    text-align:center;
    color:grey;
}

main h2 {
    text-align:center;
    color:grey; 
}

header ul {
    padding:20px;
}

header a{
    color:grey;
    text-decoration: none;
    font-family: "Champagne & Limousines";
    font-size: 26px;
}

header h2{
    border-radius:50px;
}
header a:hover{
    color:inherit;
    
}

header li{
    display:inline-block;
    width:32%;
    margin:auto;
    text-align: center;
}


footer li{
    border-radius:50px;   
}

footer h1{
    color:white;
    text-align:center;
    padding-left: 250px;
}

.pp {
    text-align: center;
}

.pp img {
    border-radius:50%;
}

.contact {
    text-align: center;
   }



p{
    color: white; 
    text-align: center;
    padding: 30px;
    border-radius: 9px;
    font-family: "Eight One";
    font-size: 30px;  
}

li{
    text-align: center;
    list-style: none;
}

.bloc{
    background-color: white;
    border-radius:20px;
    padding:20px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: "Aaargh";
    font-size: 14px;
    color: black;
    padding-bottom: 30px;
    padding-top: 1px;
}



.realisations {
    background-color: white;
    border-radius:30px;
    margin-left: 310px;
    margin-right: 290px;
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top:  1px;
    text-align: center;
    font-family: "Aaargh";
    font-size: 16px;

}

.diplome {
    text-align: left;
    margin-left: 100px;   
}

 h5 {
 font-family: "Champagne & Limousines", bold italic;
 font-size: 24px;
 text-align: center;
  padding-bottom: 15px;
  padding-top: 10px;
 }



.logiciels {
    text-align: center;
    
}

.pp img {
    text-align: center;
    border border-radius: 30%;
    margin-left: 40px;
    padding-top: 0px;
    margin-top: 0px;
    
}

.dessins {
    background-color: inherit;
    padding:340px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 15px;
    padding-top: 1px;   
}

.more {
    text-align: center;
    margin-bottom: 30px;
    border-radius: 20px;
}

.liens img {
    border-radius:50px;  
    margin-right: 50px;
    margin-left: 50px;
    
}